@'
{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container py-4">
    <h1>Восстановление пароля</h1>

    <p>
        Укажите email, использованный при регистрации.
        На него будет отправлена инструкция по восстановлению пароля.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            Отправить инструкцию
        </button>
    </form>
</div>
{% endblock %}
'@ | Set-Content `
    "C:\Users\MSI\PycharmProjects\mailing_service\templates\registration\password_reset_form.html" `
    -Encoding UTF8
