{% extends 'base.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
<h1 class="mb-4">Клиенты</h1>

<a href="{% url 'mailing:client_create' %}" class="btn btn-primary mb-3">Добавить клиента</a>

<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>Ф. И. О.</th>
        <th>Владелец</th>
        <th>Действия</th>
    </tr>

    {% for client in clients %}
        <tr>
            <td>{{ client.email }}</td>
            <td>{{ client.full_name }}</td>
            <td>{{ client.owner.email }}</td>
            <td>
                <a href="{% url 'mailing:client_detail' client.pk %}" class="btn btn-sm btn-info">Открыть</a>

                {% if client.owner == request.user %}
                    <a href="{% url 'mailing:client_update' client.pk %}" class="btn btn-sm btn-warning">Изменить</a>
                    <a href="{% url 'mailing:client_delete' client.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
